body {
  background: url('./background.jpg') no-repeat center center fixed;
  background-size:cover;
  -webkit-background-size: cover;
  -mos-background-size: cover;
  -o-background-size: cover;
  background-border:1px solid red;    
  border-radius:50%;
  -moz-border-radius:50%;
  -webkit-border-radius:50%;
  -o-border-radius:50%;
}