body {
  padding-top: 40px;
  background: url('./background.jpg') no-repeat center center fixed;
  background-size:cover;
  -webkit-background-size: cover;
  -mos-background-size: cover;
  -o-background-size: cover;
}